@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;600;700&family=Seymour+One&display=swap");
:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Seymour One", sans-serif;
  --third-family: "Inter", sans-serif;
  --font3: "DM Sans", sans-serif;
  --fon-color: #fcfcfc;
  --black: #131313;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.container {
  width: 1168px;
  margin: 0 auto;
}

body {
  font-family: var(--font-family);
  background-color: #84a178;
  color: var(--fon-color);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
